h3, td, p{
    text-align: center;
    font-size: 3vmin;
}

p {
  font-style: italic;
}

input {
    width: 100%;
    align-self: center;
}
.App {
    margin-top: 50px;
    background: rgba(255, 255, 255, 0.50);
}

table {
    width: 100%;
}

body{
    background-color: #fdfdfb;
    background-image: url('http://localhost:3000/cima.png'),
      url('http://localhost:3000/baixo.png');
    background-position:
      top right,
      bottom left;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: 230px 230px;
  }

img {
  width: 90%;
}

.footer {
  position:fixed;
  left: 0px;
  bottom: 50px;
  height:30px;
  width:100%;
    background-color: rgb(0,0,0,0);
}

input {
  border: 0px;
    background-color: #edc5d2;
    height: 20px;

}